<div layout="row" layout-padding>
    <div flex="30" flex-offset="35">
        <h2>Acceder</h2>
        <form name="loginForm" ng-submit="login()">
            <div layout="column">
                <md-input-container>
                    <label>Usuario</label>
                    <input name="username" ng-model="username" required>
                    <div ng-messages="login.username.$error">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Contraseña</label>
                    <input type="password" name="password" ng-model="password" required>
                    <div ng-messages="login.password.$error">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
                <md-button class="md-raised md-primary" type="submit">
                    Acceder
                </md-button>
            </div>
        </form>
    </div>
</div>