<div class="lista">
    <div class="content-header">
        <h1>Listado de pizzas</h1>
    </div>

    <div layout="row" layout-sm="column" layout-wrap layout-padding>
        <md-card flex="100" flex-md="50" flex-lg="33" flex-xl="33" layout-fill>
            <img ng-src="img/PeppPizza_600.jpg" class="md-card-image" alt="Pizza peperoni" />
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Pizza de peperoni</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
        <md-card flex="100" flex-md="50" flex-lg="33" flex-xl="33" layout-fill>
            <img ng-src="img/PeppPizza_600.jpg" class="md-card-image" alt="Pizza peperoni" />
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Pizza de peperoni</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
        <md-card flex="100" flex-md="50" flex-lg="33" flex-xl="33" layout-fill>
            <img ng-src="img/PeppPizza_600.jpg" class="md-card-image" alt="Pizza peperoni" />
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Pizza de peperoni</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </div>
</div>