<div layout="row" layout-padding>
    <div flex="30" flex-offset="35">
        <h2>Registro Usuario</h2>
        <form name="loginForm" ng-submit="submit()">
            <div layout="column">
                <md-input-container>
                    <label>Usuario</label>
                    <input name="user" ng-model="user" required>
                    <div ng-messages="login.username.$error">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Contrase&ntilde;a</label>
                    <input type="password" name="password" ng-model="password" required>
                    <div ng-messages="login.password.$error">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Nombre</label>
                    <input type="text" name="name" ng-model="name" required>
                    <div ng-messages="login.password.$error">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Apellidos</label>
                    <input type="text" name="surname" ng-model="surname" required>
                    <div ng-messages="login.password.$error">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Email</label>
                    <input type="text" name="email" ng-model="email" required>
                    <div ng-messages="login.password.$error">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
                <md-button class="md-raised md-primary" type="submit" id="submit">
                    Acceder
                </md-button>
            </div>
        </form>
    </div>
</div>